html{
  /* filter: invert(1) hue-rotate(180deg); */
  width:100%;
  overflow-x: hidden;
  /* overflow: scroll; */
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item-row > *{
  width: 100%;
}

.card:hover{
  transform: scale(1.5);
}

#root{
  overflow-x: clip;
}


@media (max-width:1000px){
  .linkText{
    display: none;
  }
}

@media (max-width:1400px){
  img{
    height: 90vh;
  }
}

@media (max-width:600px){
  img{
    height: 70vh;
  }
}

